In [2]:
import pandas as pd
import numpy as np

In [7]:
#Importing the first dataset with Postal code, Borough and Neighbourhood columns
tpc1_df= pd.read_csv('tpc1.csv')
tpc1_df.head()

  Postal Code    Borough                                       Neighborhood
0         M9W  Etobicoke                                          Northwest
1         M9V  Etobicoke  South Steeles , Silverstone , Humbergate , Jam...
2         M9R  Etobicoke  Kingsview Village , St. Phillips , Martin Grov...
3         M9P  Etobicoke                                          Westmount
4         M9N       York                                             Weston

In [8]:
#Importing the Geospatial Coordinates from the csv file

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_6a5a85502ecc4a6ca763ff5bac19b3a8 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='FvwitswuAtS7n5oAgOZDA003jV_g54CVNRi_mZ8rSF_B',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_6a5a85502ecc4a6ca763ff5bac19b3a8.get_object(Bucket='courseracapstone-donotdelete-pr-tihtj2zctwqweu',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

tpc2_df = pd.read_csv(body)
tpc2_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
#Merging the two dataframes using 'inner' join operator
tpcfinal_df= tpc1_df.merge(tpc2_df, how ='inner')
tpcfinal_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M9W,Etobicoke,Northwest,43.706748,-79.594054
1,M9V,Etobicoke,"South Steeles , Silverstone , Humbergate , Jam...",43.739416,-79.588437
2,M9R,Etobicoke,"Kingsview Village , St. Phillips , Martin Grov...",43.688905,-79.554724
3,M9P,Etobicoke,Westmount,43.696319,-79.532242
4,M9N,York,Weston,43.706876,-79.518188

In [10]:
#Verifying the number of elements to make sure the neccessary changes have been made
tpcfinal_df.shape

(103, 5)