In [19]:
import pandas as pd
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

##Importing the dataset into pandas dataframe abd displaying it
client_6a5a85502ecc4a6ca763ff5bac19b3a8 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='FvwitswuAtS7n5oAgOZDA003jV_g54CVNRi_mZ8rSF_B',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_6a5a85502ecc4a6ca763ff5bac19b3a8.get_object(Bucket='courseracapstone-donotdelete-pr-tihtj2zctwqweu',Key='TorontoPC.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_0 = pd.read_excel(body)
df_data_0.head()

  Postal Code       Borough                                       Neighborhood
0         M9Z  Not assigned                                                NaN
1         M9Y  Not assigned                                                NaN
2         M9X  Not assigned                                                NaN
3         M9W     Etobicoke                                          Northwest
4         M9V     Etobicoke  South Steeles / Silverstone / Humbergate / Jam...

In [26]:
import numpy as np
#Replacing the "Not assigned" values in Column 'Borough' to the standard NaN so that it can be easy to drop them as required in the assignment
df_data_0["Borough"].replace("Not assigned", np.nan, inplace = True)
df_data_0.head()

  Postal Code    Borough                                       Neighborhood
0         M9Z        NaN                                                NaN
1         M9Y        NaN                                                NaN
2         M9X        NaN                                                NaN
3         M9W  Etobicoke                                          Northwest
4         M9V  Etobicoke  South Steeles / Silverstone / Humbergate / Jam...

In [27]:
#Dropping the rows with NaN values in the 'Borough' column as required in the assignment
df_data_0.dropna(subset=["Borough"], axis=0, inplace=True)

# reset index, because we dropped rows
df_data_0.reset_index(drop=True, inplace=True)
df_data_0.head()

  Postal Code    Borough                                       Neighborhood
0         M9W  Etobicoke                                          Northwest
1         M9V  Etobicoke  South Steeles / Silverstone / Humbergate / Jam...
2         M9R  Etobicoke  Kingsview Village / St. Phillips / Martin Grov...
3         M9P  Etobicoke                                          Westmount
4         M9N       York                                             Weston

In [40]:
#Replacing the '/' by ',' as per the requirement of the assignment
df_data_0['Neighborhood']=df_data_0['Neighborhood'].str.replace('/', ',')
df_data_0.head()

  Postal Code    Borough                                       Neighborhood
0         M9W  Etobicoke                                          Northwest
1         M9V  Etobicoke  South Steeles , Silverstone , Humbergate , Jam...
2         M9R  Etobicoke  Kingsview Village , St. Phillips , Martin Grov...
3         M9P  Etobicoke                                          Westmount
4         M9N       York                                             Weston

In [41]:
#checking the number of data entries
df_data_0.shape

(103, 3)

In [42]:
df_data_0.to_csv('tpc1.csv', index = False, header = True)